# Directories content
www/cache/class_index.php
www/cache/smarty/cache/*
www/cache/smarty/cache/index.php
www/cache/smarty/compile/*
www/cache/smarty/compile/index.php
www/cache/tcpdf/*
www/cache/tcpdf/index.php

www/config/xml/*.xml
www/config/settings.inc.php

www/log/*.log

www/img/*
www/img/index.php
www/img/*/index.php

www/tools/smarty*/cache/*.php
www/tools/smarty*/cache/index.php
www/tools/smarty*/compile/*.php
www/tools/smarty*/compile/index.php

www/themes/default/cache/*.js
www/themes/default/cache/*.css

# Ignore files on root directory
www/robots.txt
www/sitemap.xml